.calculator-form-container {
   
   border-radius: 5%;
   background-color: gray;
   display: flex;
   flex-direction: column;
   margin: 20% 20%;

}

.form-input{
   color:aquamarine;
   display: flex;
   flex-direction: column;
   // justify-content: center;
   margin: 0 auto;
  
}